<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">S3photos</a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink=""
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="routeActiveOptions"
                        (click)="isMenuCollapsed = true"
                    >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="upload" routerLinkActive="active" (click)="isMenuCollapsed = true">Upload</a>
                </li>
            </ul>

            <form class="d-flex" (ngSubmit)="queryPosts($event)">
                <input name="post-query" class="form-control me-2" type="search" placeholder="Search for posts, uploader and tags" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
